:root {
  --brown: #160b00;
  --btn: #ffcf9a;
  --text-content: #ffcf9ab3;
  --text-heading: #ffebd6;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Playfair Display", serif;
  color: var(--white);
}

.landing-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 56%,
      #160b00 100%
    ),
    url(images/coffee_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0px center;
  min-height: 100dvh;
}

.logo {
  font-family: "Clicker Script", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 100px;
}

ul {
  display: flex;
  list-style: none;
  column-gap: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  margin: 180px 100px 0;
  row-gap: 10px;
  color: var(--text-heading);
}

.brand-name {
  font-family: "Clicker Script", serif;
  font-size: clamp(3.5rem, 7vw, 8rem);
}

.heading-description {
  max-width: 500px;
  font-weight: normal;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  width: 165px;
  border: 2px solid var(--btn);
  border-radius: 50px;
  color: var(--btn);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--btn);
  color: var(--brown);
  transition: 0.3s ease-in;
}

.featured-section {
  min-height: 100dvh;
  background-color: var(--brown);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featured-section h1 {
  color: var(--text-heading);
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 500;
  margin-bottom: 25px;
}

.featured-section p {
  font-weight: normal;
  color: var(--text-content);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
  gap: 25px;
}

.item {
  display: inline-block;
  background-color: var(--text-content);
  height: 280px;
  max-width: 300px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 50px;
}

.item-title h2 {
  color: var(--brown);
  font-size: 30px;
}

.item-description p {
  font-size: 20px;
  color: var(--brown);
}

span.block {
  margin: 25px 0;
  display: block;
  font-size: clamp(0.5rem, 4vw, 2rem);
  color: var(--text-heading);
}

.btn-contacts {
  width: 170px;
  margin: 25px 0;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100dvh;
  background: linear-gradient(180deg, #160b00 0%, rgba(22, 11, 0, 0.5) 100%),
    url(images/coffee-bg.png) no-repeat right 0 center / cover var(--brown);
  box-shadow: inset 0 -412px 500px -270px #160b00;
  gap: 20px;
  padding: 100px;
}

.about-section h2 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 500;
}

.about-section p {
  max-width: 800px;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  text-align: justify;
}

.btn-about {
  width: 170px;
}

.products-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: var(--brown);
  color: var(--text-heading);
}

.products-gallery h2 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 500;
  text-align: center;
  font-family: "Flayfair Display", serif;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 75rem;
  gap: 50px;
  margin: 25px 0;
}

.gallery img {
  height: 300px;
  border-radius: 10px;
  display: inline-block;
}

.btn-menu {
  margin: 25px 0;
  padding: 10px 28px;
  width: 250px;
}
