:root {
  --brown: #160b00;
  --btn: #ffcf9a;
  --text-content: #ffcf9ab3;
  --text-heading: #ffebd6;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Playfair Display", serif;
  color: var(--white);
}

.landing-page {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 56%, #160b00 100%),
    url(images/coffee_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
}

.logo {
  font-family: "Clicker Script", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 100px;
}

ul {
  display: flex;
  list-style: none;
  column-gap: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  margin: 180px 100px 0;
  row-gap: 10px;
  color: var(--text-heading);
}

.brand-name {
  font-family: "Clicker Script", serif;
  font-size: 100px;
}

.heading-description {
  max-width: 500px;
  font-weight: normal;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  width: 165px;
  border: 2px solid var(--btn);
  border-radius: 50px;
  color: var(--btn);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--btn);
  color: var(--brown);
  transition: 0.3s ease-in;
}

.featured-section {
  height: 100dvh;
  background-color: var(--brown);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featured-section h1 {
  color: var(--text-heading);
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 25px;
}

.featured-section p {
  font-weight: normal;
  color: var(--text-content);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  gap: 25px;
}

.item {
  background-color: var(--text-content);
  height: 280px;
  width: 280px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 50px;
  flex: 1;
}

.item-title h2 {
  color: var(--brown);
  font-size: 30px;
}

.item-description p {
  font-size: 20px;
  color: var(--brown);
}

span.block {
  margin: 20px 0;
  display: block;
  font-size: 30px;
  color: var(--text-heading);
}

.btn-contacts {
  width: 170px;
}
