:root {
    --brown: #160b00;
    --btn: #ffcf9a;
    --text-content: #ffcf9ab3;
    --text-heading: #ffebd6;
    --white: #ffffff;
    --preloader: #7e5000;
    --loading-duration: 2s;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: "Playfair Display", serif;
    overflow-x: hidden;
}

.logo {
    font-family: "Clicker Script", serif;
    color: var(--white);
}

.landing-page {
    background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.7) 56%, #160b00 100%), url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    color: var(--text-heading);
    display: flex;
    flex-direction: column;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: var(--brown);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a {
    position: relative;
    color: var(--white);
    text-decoration: none;
}

.nav-links a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--white);
    transition: 0.3s;
}

.nav-links a:hover::before {
    width: 100%;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: all 0.3s ease;
}

ul {
    display: flex;
    list-style: none;
    column-gap: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

.brand-name {
    font-family: "Clicker Script", serif;
    font-size: clamp(5rem, 7vw, 8rem);
    margin-top: 200px;
    align-self: flex-start;
    padding-left: 13%;
}

.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    min-height: 300dvh;
    background-color: var(--brown);
    color: var(--text-content);
    flex-wrap: wrap;
}

.story-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.content {
    max-width: 500px;
}

.content h3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--btn);
    line-height: 1.2em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.content h2 {
    color: var(--text-heading);
    line-height: 1.2;
    font-size: clamp(2rem, 5vw, 3.5rem);
    padding-bottom: 10px;
    font-weight: 500;
}

.content p {
    text-align: justify;
    padding-bottom: 1em;
}

.image img,
.values-image img {
    height: auto;
    width: 400px;
}

.values-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.values-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.values-heading h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 400;
    color: var(--text-heading);
    text-align: center;
}

.divider {
    height: 3px;
    width: 50px;
    background-color: var(--text-content);
}

.values-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.values-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 100px;
}

.values-content {
    max-width: 500px;
}

.values-content h2 {
    font-size: clamp(2.75rem, 5vw, 4.5rem);
    color: var(--text-heading);
    font-family: "Clicker Script", sans-serif;
    font-weight: 400;
}

.values-content em {
    display: block;
    font-size: clamp(1.25rem, 1.25vw, 1.75rem);
    padding: 10px 0;
    color: var(--text-heading);
    width: 350px;
}

.vision {
    flex-direction: row;
}


/* PRELOADER */

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: var(--brown);
    height: 100dvh;
    width: 100%;
    z-index: 100;
    color: var(--preloader);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: clamp(1rem, 3vw, 1.5rem);
    overflow-y: hidden;
}

#preloader img {
    max-width: 250px;
    height: auto;
}

.loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box {
    width: 40%;
    height: 5px;
    border: 2px solid var(--preloader);
    border-radius: 20px;
}

.loading .line-box .line {
    height: 5px;
    border-radius: 20px;
    background-color: var(--preloader);
    animation: loading var(--loading-duration) forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


/* PHONE */

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .loading .line-box {
        width: 60%;
    }
    .landing-page-content {
        width: 100vw;
        padding-top: 30%;
    }
    .about-section {
        padding: 5%;
    }
    nav {
        display: flex;
        justify-content: space-around;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--brown);
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;
    }
    .nav-links li {
        opacity: 0;
    }
    .products-gallery {
        text-align: center;
    }
    .burger,
    .logo {
        display: block;
        cursor: pointer;
        z-index: 6;
    }
    .image img,
    .values-image img {
        width: 90vw;
    }
    .values-content {
        max-width: 90vw;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
    transform: translateX(0%);
}


/* ANIMATION */

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}