:root {
  --brown: #160b00;
  --btn: #ffcf9a;
  --text-content: #ffcf9ab3;
  --text-heading: #ffebd6;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Playfair Display", serif;
  color: var(--brown);
}

.logo {
  font-family: "Clicker Script", serif;
  color: var(--white);
}

.landing-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 56%,
      #160b00 100%
    ),
    url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  color: var(--text-heading);
  display: flex;
  flex-direction: column;
}

.side-nav > nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 100px;
  background-color: var(--brown);
  color: var(--white);
}

.landing-page > nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 100px;
  background-color: var(--brown);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  position: relative;
  color: var(--white);
  text-decoration: none;
}

.nav-links a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--white);
  transition: 0.3s;
}

.nav-links a:hover::before {
  width: 100%;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 5px;
  transition: all 0.3s ease;
}

ul {
  display: flex;
  list-style: none;
  column-gap: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.brand-name {
  font-family: "Clicker Script", serif;
  font-size: clamp(5rem, 7vw, 8rem);
  margin-top: 200px;
  align-self: flex-start;
  padding-left: 100px;
}

.menu-section {
  min-height: 100dvh;
  background-color: var(--brown);
  padding: 100px 0;
}

.side-nav > nav {
  padding-left: 100px;
  width: 400px;
  position: sticky;
  top: 20%;
  margin-top: 120px;
}

.side-nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  color: var(--text-content);
  gap: 20px;
}

.bold {
  font-weight: bold;
  color: var(--text-heading);
}

.wrapper {
  display: flex;
}

.wrap-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-heading);
}

.foods-content {
  display: none;
}

.content > nav > ul {
  color: var(--text-heading);
}

span.link-bold {
  font-weight: 500;
  color: var(--text-content);
}

.line::before {
  display: block;
  border-top-width: 1px;
  border-top: 2px solid var(--text-content);
  content: "";
}

.coffee-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coffee {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 150px;
  color: var(--text-heading);
}

.coffee p {
  font-size: clamp(1.25rem, 1.25vw, 2rem);
}

.coffee-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
}

.coffee-container p {
  text-align: center;
}

.coffee-bg {
  background-color: var(--btn);
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.coffee-bg img {
  max-width: 100%;
}

.coffee-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* PHONE */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .landing-page {
    margin: 0 -100px;
  }
  .about-section {
    margin: 0 -100px;
    padding: 0 30%;
  }
  .side-nav {
    display: none;
  }
  .content h1 {
    text-align: center;
  }
  .content p {
    max-width: 95%;
  }
  .image img {
    height: auto;
    width: 95%;
  }
  .values-image img {
    height: auto;
    width: 95%;
  }
  .values-heading {
    text-align: center;
  }
  .content nav ul {
    display: flex;
    justify-content: center;
  }
  .landing-page > nav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
  }
  .coffee-content {
    text-align: center;
  }
  .coffee-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  .coffee {
    width: 25%;
  }
  .coffee p {
    width: 150%;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--brown);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .products-gallery {
    text-align: center;
  }
  .burger,
  .logo {
    display: block;
    cursor: pointer;
    z-index: 6;
  }
  .brand-name {
    padding: 0 25%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  transform: translateX(0%);
}
